@font-face {
    font-family: overpass;
    src: url(overpass.regular.ttf);
}

body {
    padding: 0;
    margin: 0;
}

.header {
    background: #E3EEFF;
    height: 780px;
}

.colorB {
    background: #017BFD;
    z-index: 1;
    height: 780px;
    width: 321px;
    position: absolute;
    top: 0;
    right: 0;
}

.nav {
    display: flex;
    margin-left: 14vh;
    padding-top: 20px;
}

.nav-bar {
    margin-left: 2vh;
    margin-top: 10px;
}

.nav a,
.nav span a {
    text-decoration: none;
    font-family: "Overpass", sans-serif;
    font-weight: 500;
    color: #18304b;
    font-size: 18px;
    margin-left: 30px;

}

.nav-bar a {
    display: inline-block;
}

.nav-bar a:hover {
    color: #007aff !important;
    transition: 0.5s;
}

.nav-bar a::after {
    content: "";
    border-bottom: 2px solid #007aff !important;
    display: block;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 0.4s ease-in-out;
    position: relative;
    top: 9px;
    right: 1px;
}

.nav-bar a:hover:after {
    transform: scale(1.1, 1);
    position: relative;
}

.nav span {
    margin-left: 58vh;
    margin-top: 10px;
    z-index: 2;
}

.nav span a {
    color: #007aff !important;
    background: white;
    padding: 17px 31px;
    border-radius: 6px;
    font-weight: 790;
}

.middleTextBody {
    margin-top: 25vh;
    margin-left: 19vh;
}

.middleTextBody h1 {
    color: #18304b;
    font-size: 53px;
    font-family:  overpass;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 1.3;
}

.middleTextBody span {
    color: #007aff;
}

.job {
    background: white;
    width: 400px;
    height: 90px;
    border-radius: 4px;
}