@font-face {
    font-family: overpass;
    src: url(overpass.regular.ttf);
}

body {
    padding: 0;
    margin: 0;
    background: #E3EEFF;
}

.nav {
    display: flex;
    margin-left: 14vh;
    margin-top: 20px;
}

.nav-bar {
    margin-left: 2vh;
    margin-top: 12px;
}

.nav a,
.nav span a {
    text-decoration: none;
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    color: #18304b;
    font-size: 18px;
    margin-left: 30px;

}

.nav-bar a {
    display: inline-block;

}

.nav-bar a:hover {
    color: #007aff !important;
    transition: 0.3s;
}

.nav-bar a::after {
    content: "";
    border-bottom: 2px solid #007aff !important;
    display: block;
    transform: scale(0, 1);
    transform-origin: 0% 100%;
    transition: 250ms ease-in-out;
    position: relative;
    top: 11px;
    right: 1px;
}

.nav-bar a:hover:after {
    transform: scale(1.1, 1);
    position: relative;
}

.nav span {
    margin-left: 56vh;
    margin-top: 14px;
}

.nav span a {
    color: #007aff !important;
    background: white;
    padding: 19px 29px;
    border-radius: 6px;
    font-weight: 790;
}

.middleTextBody h1 {
    color: #18304b;
    font-size: 56px;
    font-family:  overpass, sans-serif;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 1.4;
}

.middleTextBody span {
    color: #007aff;
}

    /* @media only screen and (min-width: 992px) and (max-width: 1199px) .slider-area .hero__caption h1 {
        font-size: 60px;
    } */